@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Oswald:wght@300;400;500&family=Cormorant+Unicase:wght@300;500&display=swap'); 

body {
  background-color: #fcbb7e;
  margin: 0;
  text-align: center;
  user-select: none;
}

.content-wrapper{
  height: 100vh;
}

input{
  cursor: pointer;
}

.main-heading {
  color: #583d72;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0;
}

.sub-heading {
  color: #9f5f80;
  font-size: 3rem;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 400;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  margin: 0;
}

.sub-heading-X-win {
  color: #fc7130;
  font-weight: 500;
}

.sub-heading-O-win {
  color: #c02a1f;
  font-weight: 500;
}

.mode-selector{
  margin: 2.5%;
}

.normal-select {
  display: inline-block;
  color: #c02a1f;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0 1%;
}

.ai-select {
  display: inline-block;
  color: #fc7130;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0 1%;
}

.scores {
  font-family: 'Roboto Slab', serif;
  margin: 1.5% 0;
  font-weight: 400;
  font-size: 2rem;
}

.player-1-score {
  color: #fc7130;
  margin: 0 3%;
}

.player-2-score {
  color: #c02a1f;
  margin: 0 3%;
}

.content-wrapper, .board-wrapper{
  display: grid;
  place-items: center;
}

.board {
  border-radius: 5px;
  height: 18rem;
  width: 18rem;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);
  grid-auto-rows: 33.33%;
  grid-auto-columns: 33.33%;
}

.grid-item {
  border: 3px solid #fcbb7e;
  border-radius: 5px;
  background-color: #fc7130;
  color: #c02a1f;
  cursor: pointer;
  padding-top: 8%;
  text-align: center;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.grid-item:focus{
  outline: none;
}

.grid-win {
  color: #ffc996;
}

.grid-1 {
}

.grid-2 {

}

.grid-3 {
}

.grid-4 {

}

.grid-5 {

}

.grid-6 {

}

.grid-7 {
}

.grid-8 {
  
}

.grid-9 {
}

@media(max-width: 600px){
  .main-heading {
    font-size: 4rem;
  }

  .sub-heading {
    font-size: 2rem;
  }

  .normal-select {
    font-size: 1.2rem;
  }
  
  .ai-select {
    font-size: 1.2rem;
  }
}

@media(max-width: 390px){
  .main-heading {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 1.5rem;
  }

  .normal-select {
    font-size: 1rem;
  }
  
  .ai-select {
    font-size: 1rem;
  }
  
  .board {
    height: 16rem;
    width: 16rem;
  }

  .grid-item {
    font-size: 2.5rem;
  }

  .scores {
    font-size: 1.5rem;
  }
}